/* IMPORT */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOTS */
:root {
    /* colors */
    --blue: rgb(84, 158, 242);
    --cyan: rgb(68, 211, 210);
    --grey-500: rgb(77, 79, 98);
    --grey-400: rgb(106, 113, 120);
    --orange: rgb(252, 174, 74);
    --red: rgb(234, 84, 84);
    --white: rgb(255, 255, 255);

    /* font sizes */
    --font-xxl: 2.4rem;
    --font-xl: 1.6rem;
    --font-lg: 1.333rem;
    --font-md: 1rem;
    --font-xs: 0.866rem;

    /* font weights */
    --weight-heavy: 600;
    --weight-light: 200;

    /* line height */
    --line-h-title: 140%;
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* |||| GENERAL |||| */

html {
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

main {
    display: flex;
    justify-content: center;
}

img {
    object-fit: contain;
    max-width: 100%;
}

/*|||| TEXT ||||*/

h1 {
    color: var(--grey-500);
    font-size: var(--font-xl);
    font-weight: var(--weight-heavy);
    letter-spacing: 0.0104em;
    line-height: var(--line-h-title);
    margin-block-end: 0.666em;
}

span {
    font-weight: var(--weight-light);
}

.description {
    color: var(--grey-500);
    font-size: var(--font-md);
    letter-spacing: 0.006em;
    line-height: var(--line-h-title);
    text-align: center;
}

h2 {
    color: var(--grey-500);
    font-size: var(--font-lg);
    font-weight: var(--weight-heavy);
    line-height: 135%;
}

.card p {
    color: var(--grey-400);
    font-size: var(--font-xs);
    letter-spacing: 0.007em;
    line-height: 160%;
    margin-block-start: 0.4615em;
}

/* |||| COLORS |||| */

.bg-cyan {
    background-color: var(--cyan);
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-orange {
    background-color: var(--orange);
}

/*|||| CONTAINERS |||| */

.container {
    background-color: var(--white);
    padding: 3.733em 2em 3.067em;
}

.container--title {
    margin: 0 auto 4.8em;
    inline-size: 100%;
    max-inline-size: 21em;
}

.container--middle-cards {
    display: flex;
    flex-direction: column;
}

/* |||| CARDS |||| */
.card {
    border-radius: 8px;
    background-color: var(--white);
    /* box-shadow: 0 1em 2em -1.333em var(--blue); */
    box-shadow: 0 0.5em 2em -1em rgba(0, 0, 255, 0.3);
    margin-block-end: 1.067em;
}

hr {
    border: none;
    border-radius: 8px 8px 0 0;
    height: 0.267em;
}

.container--card-content {
    display: flex;
    flex-direction: column;
    margin: 2.133em 2.133em 0;
    max-inline-size: 16.667em;
}

.card img {
    align-self: end;
    margin: 2.133em 0 2.9em;
}

/* |||| FOOTER |||| */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1.667em;
}

/* |||| MEDIA QUERRIES - screen sizes |||| */

/* TABLET */

@media screen and (min-width: 44em) {
    
    /* text */
    
    h1 {
        font-size: var(--font-xxl);
        text-align: center;
    }

    /* containers */
    
    .container--title {
        max-width: 36em;
    }

    .container--cards {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .container--middle-cards {
        display: flex;
        flex-direction: row;
        gap: 1.067em;
    }
}

/* DESKTOP */

@media screen and (min-width: 74.267em) {

    /* text */

    h1 {
        margin-block-end: 0.466em;
        /* margin-block-end: 0.566em; */
    }
    
    /* containers */

    .container {
        margin-block-start: 3.067em;
    }

    .container--title {
        margin-block-end: 4.993em;
    }

    .container--cards {
        flex-direction: row;
        gap: 2.133em;
    }

    .container--middle-cards {
        flex-direction: column;
    }

    /* card */

    .container--card-content {
        max-width: 19.067em;
        max-inline-size: 19.067em;
    }
}